<main class="favorit-coct__main container">
    <div class="container">
        <div class="favorit-coct__section ">
            <h2 class="favorit-coct__title gallery__title">Favorite cocktails</h2>
            <div class="favorit-coct__wrapper">
                <p class="favorit-coct__text">You haven't added any favorite cocktails yet</p>
            </div>
            <ul class="cocktail__list"></ul>
            <!-- <div class="paginator">
                <button class="backward" type="button">
                    <svg class="arrow__back" width="8" height="13">
                        <use href="../src/images/symbol-defs.svg#icon-arrow-left"></use>
                    </svg>
                </button>
                <ul class="pagination__list"></ul>
                <button class="forward" type="button">
                    <svg class="arrow__fore" width="8" height="13">
                        <use href="../src/images/symbol-defs.svg#icon-arrow-right-black"></use>
                    </svg>
                </button>
            </div>
        </div> -->
            <button class="add__btn visually-hidden" data-id="${idDrink}" type="button">
                Add to
                <svg class="icon-hert" width="19" height="17">
                    <use href="./images/symbol-defs.svg#icon-heart-transparent"></use>
                </svg>
            </button>
        </div>
</main>