<div class="modal-cockt is-hidden" data-modal-cockt>
  <div class="modal-cockt__card item" data-id="1">
    <button class="modal-cockt__close-btn" data-modal-cockt-close>
      <svg class="modal-cockt__close-icon" width="16" height="16">
        <use
          href="/src/images/modal-coctails/symbol-defs.svg#icon-close_24px"
        ></use>
      </svg>
    </button>
    <div class="modal-cockt__img-tumb">
      <img
        class="modal-cockt__img image"
        src="/src/images/modal-coctails/ACID.jpg"
        alt="cocktail"
      />
    </div>
    <h2 class="modal-cockt__name name">Margarita</h2>
    <div class="modal-cockt__ingedients-box">
      <h3 class="modal-cockt__title">Ingredients</h3>
      <p class="modal-cockt__post-title">Per cocktail</p>
      <ul class="modal-cockt__per-list"></ul>
    </div>
    <div class="modal-cockt__instr">
      <h3 class="modal-cockt__instr-title">Instractions:</h3>
      <div class="modal-cockt__instr-text:">
        <p class="modal-cockt__instr-text"></p>
      </div>
    </div>
    <div class="modal-cockt__box-button">
      <button
        class="modal-cockt__add-rem-btn"
        type="button"
        data-add
        data-modal
      >
        Add to favorite
      </button>
    </div>
  </div>
</div>
