<div class="backdrop index is-hidden" data-modal-ingrid>
    <div class="modal-ingrid">
        <button type="button" class="modal-ingrid__close" data-modal-ingrid-close>
            <svg class="modal-ingrid__close-icon" width="16" height="16">
                <use href="/src/images/modal-coctails/symbol-defs.svg#icon-close_24px"></use>
            </svg>
        </button>

        <div class="box-ingrid">
            <!-- <h2 class="modal-ingrid__name">Campari</h2>
                <h3 class="modal-ingrid__title">Liqueur</h3>
                <div class="line"></div>
    
                <p class="modal-ingrid__descrip"><b>Campari</b> is an Italian alcoholic liqueur, considered an apéritif (20.5%, 21%, 24%, 25%, or 28.5% ABV, depending on the
                country in which it is sold), obtained from the infusion of herbs and fruit (including chinotto and cascarilla) in
                alcohol and water. It is a bitters, characterised by its dark red colour.</p>
                <ul class="modal-ingrid__list">
                    <li class="modal-ingrid__component"><p><span>&#10038;</span> Type: Bitters</p></li>
                    <li class="modal-ingrid__component"><p><span>&#10038;</span> Country of origin: Italy</p> </li>
                    <li class="modal-ingrid__component"><p><span>&#10038;</span> Alcohol by volume: 20.5–28.5%</p> </li>
                    <li class="modal-ingrid__component"><p><span>&#10038;</span> Flavour: Bitter, spicy and sweet</p></li>
                </ul> -->
        </div>

        <div class="modal-ingrid__add">
            <button type="modal-cockt__add-rem-btn" class="button" id="add-to-fav-ing" data-ing>Add to favorite</button>
        </div>
    </div>
</div>